.filter-container__button-filter {
border-radius: 3px;

p {
padding: 8px;

cursor: pointer;

color: #fff;

}
}
.filter-container__button-save-filter{
margin-right:5px;

    margin-left:auto;

background: #3CCB7A;
    }

.filter-container__button-open-filter{
    background: #34C6CB;
}
.filter-container__button-restore-filter{
    background: #9F30CB;
}