.filter-button {
    display: inline-block;

    margin: 5px 3px;

    border-radius: 3px;

    p {
        padding: 8px;

        cursor: pointer;

        color: #fff;
    }
}

.filter-container__button_save-filter {
    margin-left: auto;

    background: #3ccb7a;
}

.filter-container__button_open-filter {
    background: #34c6cb;
}

.filter-container__button_restore-filter {
    background: #9f30cb;
}

.filter__button-create {
    margin: 5px;

    background: #cbc63c;
}
