.filter-container__space-buttons {
    display: flex;

    width: 50%;
    margin: 5px;
}
.filter-container__button_delete-filter {
    background: #cb2a1c;
}
.filter-container {
    &__state {
        transition: all 2s;
    }

    &__display-state {
        overflow: auto;
    }

    &__parametrs-search {
        margin: 5px;
    }
    &__type-search,
    &__string-search {
        font-weight: 600;
        span {
            font-weight: 400;
        }
    }
}
