.filter__button-create {
    display: flex;

    p {
        margin: 5px;
        padding: 10px;

        cursor: pointer;

        color: #fff;
        border-radius: 3px;
        background: blueviolet;
    }
}